{% load static %}
<header>
  <div class="logo">
    <a href="{% url 'home' %}" class="logo-link">
      <img width="64" src="{% static 'img/icon.png' %}"/>
    </a>
  </div>
  <div class="header-menu">
    <div class="header-menu-item">
      <a href="{% url 'home' %}" class="header-menu-item-link">
        Home
      </a>
    </div>
    <div class="header-menu-item">
      <a href="{% url 'admin:index' %}" class="nav-link header-menu-item-link">
        Админка
      </a>
    </div>
    <div class="header-menu-item">
      <a href="{% url 'system:feedback' %}" class="nav-link header-menu-item-link">
        Обратная связь
      </a>
    </div>
  </div>

  <form class="header-search" role="search">
    <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
  </form>

  <div class="text-end">
    {% if user.is_authenticated %}
      <a class="btn btn-success" href="{% url 'system:profile_detail' slug=user.profile.slug %}" role="button">{{user.username}}</a>
      <form style="display:inline-block" method="post" action="{% url 'system:logout' %}">{% csrf_token %}<button class="btn btn-danger" type="submit">Выход</button></form>
    {% else %}
      <a class="btn btn-light text-dark me-2" href="{% url 'system:login' %}" role="button">Войти</a>
      <a class="btn btn-primary" href="{% url 'system:register' %}" role="button">Регистрация</a>
    {% endif %}
  </div>

</header>
